.assignee-view {
    text-align: center;
}

.assignee-view * {
    padding: 2rem;
}

.Heiner {
    background: #FFC000;
    color: black;
}

.Sabine {
    background: #C46DF9;
    color: black;
}

.Yannik {
    background: #a6eecb;
    color: black;
}

.Nilas {
    background: #99CCFF;
    color: black;
}

.Niemand {
    background: #a8a8a8;
    color: black;
}