.work-item-view {
    color: white;
    padding: 0.5rem;
}

.work-item-view-uncompleted {
    background: #f4b183;
}

.work-item-view-uncompleted-today {
    background: #ff7c29;
}

.work-item-view-completed {
    background: #1ed543;
}

.work-item-status-row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
}

.assignee-checkbox {
    transform: scale(1.9);
}