.assignee-view {
    flex: 1;
    padding: 0.1rem 0.3rem 0.2rem 0.3rem;
    margin: 0 0 0 0.5rem;
    text-align: center;
}

.Heiner {
    background: #FFC000;
}

.Sabine {
    background: #C46DF9;
}

.Yannik {
    background: #7E847C;
}

.Nilas {
    background: #99CCFF;
}